

<% render 'sidebar' %>
<div id="window">
		<header>
            <h1><%= @note.title + " Иконка со ссылкой на источник" %></h1>
			<a href='#' class="icon delete" title="Закрыть"></a>
		</header>

		<div>
            <p>
              <strong>Url:</strong>
              <%= @note.url %>
            </p>

            <p>
              <strong>Ncategory:</strong>
              <%= @note.ncategory_id %>
            </p>

            <p>
              <strong>Тэги:</strong>
              <% @note.tags.each do |f| %>
                <%= link_to f.name, :controller => "tags", :action => "notes", :name => f.name %><%= " " %>
              <% end %>
            </p>

            <p>
              <strong>Sharable:</strong>
              <%= @note.sharable %>
            </p>

            <p>
              <%= @note.content %>
            </p>

            <p>
              <%= link_to "Edit", edit_note_path(@note) %> |
              <%= link_to "Destroy", @note, :confirm => 'Are you sure?', :method => :delete %> |
              <%= link_to "View All", notes_path %>
            </p>
		</div>

</div>









