<% title "Notes" %>

<p>
  <strong>Title:</strong>
  <%= @notes.title %>
</p>
<p>
  <strong>Url:</strong>
  <%= @notes.URL %>
</p>
<p>
  <strong>Content:</strong>
  <%= @notes.content %>
</p>
<p>
  <strong>Sharable:</strong>
  <%= @notes.sharable %>
</p>
<p>
  <strong>Notescategory:</strong>
  <%= @notes.notescategory_id %>
</p>

<p>
  <%= link_to "Edit", edit_notes_path(@notes) %> |
  <%= link_to "Destroy", @notes, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", notes_path %>
</p>
