<% title "Note" %>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>
<p>
  <strong>Url:</strong>
  <%= @note.url %>
</p>
<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>
<p>
  <strong>Sharable:</strong>
  <%= @note.sharable %>
</p>
<p>
  <strong>Notescategory:</strong>
  <%= @note.notescategory_id %>
</p>

<p>
  <%= link_to "Edit", edit_note_path(@note) %> |
  <%= link_to "Destroy", @note, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", notes_path %>
</p>
