<% title "Notes Categories" %>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% for notes_category in @notes_categories %>
    <tr>
      <td><%= notes_category.title %></td>
      <td><%= link_to "Show", notes_category %></td>
      <td><%= link_to "Edit", edit_notes_category_path(notes_category) %></td>
      <td><%= link_to "Destroy", notes_category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Notes Category", new_notes_category_path %></p>
