<% title "Ncategories" %>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% for ncategory in @ncategories %>
    <tr>
      <td><%= ncategory.title %></td>
      <td><%= link_to "Show", ncategory %></td>
      <td><%= link_to "Edit", edit_ncategory_path(ncategory) %></td>
      <td><%= link_to "Destroy", ncategory, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ncategory", new_ncategory_path %></p>

/usr/bin/env: python: No such file or directory


<img src="../../../public/images/alert_16x16.png" C:\ruby\bin\ruby.exe: No such file or directory -- /cygdrive/c/Program Files (x86)/e/Support/bin/sips (LoadError)
/cygdrive/c/Users/Sony/AppData/Roaming/e/tmcmd: line 9: perl: command not found
alt="">

/usr/bin/env: python: No such file or directory
